@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
body{
  font-family:  Karla;
  color:#fff;
  background-color: hsl(204, 43%, 93%);
  margin: 0 30px;
}

h1,h2,h3,p{
  margin: 0;
  padding: 0;
}
h2{
  font-size: 1rem;
}
a{
  text-decoration: none;
}

.mb{
  margin-bottom: 20px;
  display: block;
}